<footer>
    <p>
        Personal Copyright Ltd
    </p>

    <div class="links">
        <a href="/">Home</a>

        <%if(locals.user) { %>
            <a href="/users/Profile/<%= u.id %>">Profile</a>
            <%}%>

    </div>

</footer>