<link rel="stylesheet" href="<%= assetPath('css/signin.css') %>">

<div id="logo-res">
    <a href="/">
        <i class="fa-solid fa-ice-cream"></i>
        <h1>Codeial</h1>
    </a>
</div>

<div id="container">
    <h2>
        Reset your password.
    </h2>
    <div id="form-container">
        <form action="/resetPassword/init/<%= accessToken.id %>" method="post">
            <input type="password" placeholder="Password" name="password" required>
            <input type="password" placeholder="Confirm Password" name="confirm_password" required>

            <button type="submit">Reset</button>
        </form>
    </div>

</div>