<link rel="stylesheet" href="<%= assetPath('css/signin.css') %>">

<div id="logo-res">
    <a href="/">
        <i class="fa-solid fa-ice-cream"></i>
        <h1>Codeial</h1>
    </a>
</div>

<div id="container">
    <h2>
        Lost,
        Enter your Email !
    </h2>
    <div id="form-container">
        <form action="/resetPassword/" method="post">
            <input type="email" placeholder="Email" name="email" required>

            <button class="btn" type="submit">Next</button>
        </form>
    </div>
</div>