<link rel="stylesheet" href="/css/signin.css">

<div id="logo-res">
    <a href="/">
        <i class="fa-solid fa-ice-cream"></i>
        <h1>Codeial</h1>
    </a>
</div>

<div id="container">
    <h2>
        Hi Coder,
        Sign In !
    </h2>
    <div id="form-container">
        <form action="/users/create-session" method="post">
            <input type="email" placeholder="Email" name="email" required>
            <input type="password" placeholder="Password" name="password" required>

            <button class="btn" type="submit">Sign in</button>
        </form>
    </div>

    <div>
        <p>
            <button class="btn" onclick="location.href='/users/auth/google';">
                <i class="fa-brands fa-google"></i>
                <a href="/users/auth/google"> Sign in with Google </a>
            </button>
        </p>

        <p>
            Don't have an account? &nbsp;<a href="/users/sign-up">Create one?</a>
        </p>
    </div>
</div>