<link rel="stylesheet" href="/css/homeProfile.css">

<h1>
    Codial / Profile
</h1>

<p>Name: <%= user.name %>
</p>
<p>Email: <%= user.email %>
</p>

<form action="/users/reset-session" method="post">
    <button type="submit">Sign out</button>
</form>