footer {
    background-color: #1b2730;
    display: flex;
    padding: 15px;
    align-items: center;
    // width: 100vw;
    z-index: 1;
    margin: 0;
    margin-top: 170px;
    border: none;

    p {
        color: white;
        margin-right: 5%;
    }

    .links {
        a {
            margin: 0 10px;
            color: white;
            text-decoration: none;
        }
    }
}

@media screen and (max-width: 720px) {
    footer {
        display: none;
    }
}