body {
    margin-bottom: 40px;

    textarea {
        background-color: #1b2730;
        color: white;
        border: none;
    }

    textarea:focus-visible {
        outline: none;
        border: none;
    }
}