*,
*::after,
*::before {
    box-sizing: border-box;
}

* {
    font-family: sans-serif;
}

body {
    background-color: #05141c;
    margin: 0;
    font-family: sans-serif;
    padding: 0;

    #layout-main {
        height: 90%;
    }
}